<section class="bg-gray-900 mt-20 min-h-[calc(100vh-88px)]">
  <div class="py-8 sm:px-4 mx-auto max-w-screen-xl lg:py-16">
    <div class="bg-gray-800 border border-gray-700 rounded-lg lg:p-8 md:p-12 mb-8">
      <% if @blog.admin.first_name == current_admin.first_name %>
        <div class="flex flex-col justify-center items-center pb-5">
          <h1 class="m-2 text-gray-400 p-2 text-base sm:text-lg md:text-2xl">Edit Article ( no. <%= @blog.id %> )</h1>
          <!--Edit Form-->
          <%= form_with(model: @blog, url: advisor_update_blog_path) do |f| %>
            <!--Errors-->
            <% if f.object.errors.any? %>
              <div>
                <% f.object.errors.full_messages.each do |message|  %>
                  <div class="text-red-500"><%= message %></div>
                <% end %>
              </div>
            <% end %>
            <!---->
            <div class="flex flex-col my-2 lg:mx-5 md:p-4 rounded-lg md:border border-gray-700 sm:max-w-3xl">
              <div class="text-lg text-gray-800 bg-gray-500 border border-gray-700 rounded-lg mx-2 p-2">
                <div class="text-lg">
                  <%= f.label :cover_image, class: "lg:text-2xl px-2" %>
                </div>
                <div class="rounded p-2">
                  <div class="flex items-center">
                    <%= f.label :cover_image, "Select Image" %>&nbsp;
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                      <span class="text-sm">1200 x 675 - 100kb</span>
                    </svg>
                  </div>
                  <%= f.file_field :cover_image, class: "block w-full text-sm border rounded-lg cursor-pointer text-gray-300 focus:outline-none bg-gray-600 border-gray-700" %>
                </div>
                <div class="p-2">
                  <div class="flex items-center">
                    <%= f.label :seo_image, "SEO Card Image" %>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                      <span class="text-sm">1200 x 675 - 100kb</span>
                    </svg>
                  </div>
                  <%= f.file_field :seo_image, class: "block w-full text-sm border rounded-lg cursor-pointer text-gray-300 focus:outline-none bg-gray-600 border-gray-700" %>
                </div>
                <div class="p-2">
                  <%= f.label :seo_image_alt, "Image text", class: "block mb-2 text-sm font-medium px-3" %>
                  <%= f.text_field :seo_image_alt, class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-600 border-gray-700 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" %>
                </div>
              </div>
              <div class="m-2">
                <%= f.label :title, class: "block mb-2 text-sm font-medium text-white px-3" %>
                <%= f.text_field :title, class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" %>
              </div>
              <div class="m-2">
                <%= f.label :seo_title, class: "block mb-2 text-sm font-medium text-white px-3" %>
                <%= f.text_field :seo_title, class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" %>
              </div>
              <div class="p-2">
                <div class="flex items-center mb-2">
                  <%= f.label :seo_description, class: "block text-sm font-medium text-white pe-2" %>
                  <svg class="w-5 h-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    <span class="text-sm text-gray-400">At least 100 characters</span>
                  </svg>
                </div>
                <%= f.text_field :seo_description, class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" %>
              </div>
              <div class="flex flex-col justify-center items-center my-2 w-full lg:w-4-5 text-white bg-gray-500 py-2 sm:px-2 rounded-lg ">
                <div class="flex justify-start items-start w-full">
                  <%= f.label :content, class: "block mb-2 text-sm font-medium text-white" %>
                </div>
                <%= f.rich_text_area :content, class: "flex flex-wrap p-2.5 w-full text-sm rounded-lg border bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 max-w-2xl" %>
              </div>
              <div class="p-2">
                <div class="flex items-center text-white">
                  <%= f.label :seo_keywords %>&nbsp;
                  <svg class="w-5 h-5 text-gray-400 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    <span class="text-sm text-gray-400">comma seperated list</span>
                  </svg>
                </div>
                <%= f.text_field :seo_keywords, class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" %>
              </div>
              <div class="flex flex-wrap justify-center items-center w-full my-4 text-white">
                <%= f.label :published_at, class: "bg-slate-600 text-slate-50 font-medium py-2 px-2 m-2 rounded-lg" %>
                <%= f.datetime_select :published_at, include_blank: true %>
              </div>
              <div class="flex justify-center items-center w-full">
                <%= f.button class: "border rounded bg-green-500 font-semibold py-2 px-4 my-2" %>
              </div>
            </div>
          <% end %>
          <%= link_to "Return Home", advisor_path, class: "border rounded bg-gray-500 text-gray-50 font-semibold py-2 px-4 my-2" %>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="w-full h-screen">
    <div class="flex justify-center items-center flex-col w-full h-screen">
      <h1 class="text-red-300 my-3">Oops! It appears that you are not the owner of this post.</h1>
      <%= link_to "Back to home", root_path, class: "underline text-sky-300" %>
    </div>
  </section>
<% end %>