<!DOCTYPE html>
<html>
  <head>
    <title>Truckerjobs4u02</title>
    <%= display_meta_tags site: "" %>
    <%= favicon_link_tag "favicon.png", rel: "icon"%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-black">
    <header class="">
      <%= render "layouts/navbar" %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
